@import "../../../style/common.scss";
.image_transition {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #000;
  .image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: opacity(0.4) brightness(0.4);
  }
}
