@import "../../../style/common.scss";
@import "../../Home/SoundDrawer/style.module.scss";
.sound_detail {
  @extend .full_screen;
  background-color: #fff;
  overflow: auto;
  color: #fff;
  z-index: 2;
  overflow: auto;
}
.header {
  z-index: 1;
  height: 8vh;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  i {
    @extend .flex_center;
    cursor: pointer;
    box-sizing: border-box;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    &::before {
      font-size: 1.2rem;
    }
  }
}
.cover {
  position: relative;
  height: 60vh;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -8vh;
    bottom: -8vh;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
  .description {
    padding-left: 2rem;
    h2 {
      font-size: 1.8rem;
      font-weight: 100;
      margin-bottom: 0.6rem;
    }
    span {
      font-weight: 100;
      font-size: 0.96rem;
    }
  }
}
.content {
  blockquote {
    padding: 0 2rem 2rem;
    position: relative;
    top: -6vh;
    p {
      white-space: pre-line;
      font-weight: 100;
      line-height: 1.8rem;
      margin-bottom: 1rem;
      color: #fff;
      opacity: 0.6;
    }
    footer {
      text-align: right;
      opacity: 0.2;
      span {
        margin-right: 0.4rem;
      }
    }
  }
}

.btn {
  position: sticky;
  bottom: 2rem;
  margin: 0 2rem;
  cursor: pointer;
  background-color: #fff;
  transition: opacity 0.3s;
  height: 7vh;
  border-radius: 10px;
  user-select: none;
  @extend .flex_center;
  font-size: 1rem;
  i {
    margin-right: 0.3rem;
    &::before {
      font-size: 1rem;
    }
  }
  &:active {
    opacity: 0.9;
  }
}

.mask {
  @extend .full_screen;
  z-index: -1;
  filter: opacity(0.4) brightness(0.6);
}
