@import "../../style/common.scss";
.finish_drawer {
  @extend .full_screen;
  padding: 1rem 2rem;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  flex-direction: column;
  color: white;
  &::before {
    content: "";
    @extend .full_screen;
    z-index: -1;
    backdrop-filter: blur(20px);
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  i::before {
    font-size: 1rem;
    border-radius: 50%;
    padding: 0.7rem 0.73rem;
    background-color: rgba($color: #fff, $alpha: 0.4);
  }
}
.greet {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  i::before {
    color: #d35400;
    font-size: 2rem;
  }
  span {
    font-size: 2rem;
    margin-left: 0.6rem;
  }
  p {
    margin: 1rem 0;
    font-size: 0.8rem;
    color: rgba($color: #fff, $alpha: 0.6);
    letter-spacing: 4px;
  }
}
.card {
  padding: 1rem 1.4rem;
  border-radius: 1rem;
  box-sizing: border-box;
  height: 50vh;
  display: flex;
  flex-direction: column;
  position: relative;
  .card_icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    &::before {
      font-size: 3rem;
    }
  }
  &_header {
    flex-basis: 20%;
    .card_date {
      letter-spacing: 6px;
      font-size: 1.2rem;
      font-weight: 200;
    }
    .card_time {
      letter-spacing: 2px;
      font-size: 0.6rem;
      line-height: 2rem;
      color: rgba($color: #fff, $alpha: 0.4);
    }
  }
  &_content {
    flex: 1;
    @extend .flex_center;
    font-size: 1.3rem;
    letter-spacing: 2px;
  }
  &_footer {
    flex-basis: 20%;
    border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
    text-align: center;
    &_name,
    &_value {
      display: flex;
      align-items: center;
      span {
        flex-basis: 33.3%;
      }
    }
    &_name {
      padding-top: 0.5rem;
      height: 50%;
      color: rgba($color: #fff, $alpha: 0.3);
      font-size: 0.8rem;
    }
    &_value {
      font-size: 0.8rem;
    }
  }
}
.share {
  flex-basis: 25vh;
  @extend .flex_center;
  flex-direction: column;
  &_btn {
    width: 100%;
    text-align: center;
    border: 1px solid #fff;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.6rem;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    &:active {
      background-color: rgba($color: #fff, $alpha: 0.9);
    }
  }
  &_items {
    position: fixed;
    bottom: 0;
    height: 25vh;
    left: 0;
    right: 0;
    color: black;
    @extend .flex_center;
    background-color: #fff;
  }
}
.blur_mask {
  @extend .full_screen;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
}
