.list {
  display: flex;
  overflow: auto;
}
.item {
  flex-shrink: 0;
  margin-right: 2rem;
  height: 100px;
  .cover {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 8px 10px 0 rgba(126, 142, 154, 0.4);
  }
  p {
    margin-top: 1rem;
    text-align: center;
    color: #ccc;
  }
}
