
D:\��������\Microsoft VS Code>"node"  "C:\Users\CLEARINK\AppData\Roaming\npm\\node_modules\node-sass\bin\node-sass" --output-style compressed d:\ReactCode\audio\src\pages\Home\Sleep\style.module.scss 
.sleep{position:fixed;top:0;right:0;left:0;bottom:0;background-color:#adadb9}
