* {
  padding: 0;
  margin: 0;
}
.audio {
  display: none;
}
.am-picker {
  color: white;
  width: 130px;
  height: 100px;
  overflow: hidden;
}
.am-picker-col-item {
  opacity: 0.43;
}
.am-picker-col-item-selected {
  opacity: 1;
  transform: scale(1.2);
}

.am-picker-col-mask {
  background: none !important;
}
.am-picker-col-item {
  color: white !important;
  font-size: 1.4rem !important;
}